body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 2%;
    margin-bottom: 0%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #4CAF50;
    margin-bottom: 30px;
    font-weight: bold;
}

label {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

select {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    margin-bottom: 8%;
    margin-top: 3%;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.row {
    margin-bottom: 20px;
}

.col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    font-size: 20px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button.btn:hover {
    background-color: #e0e0e0;
}

button.button {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s;
}

#out1 {
    font-size: 20px;
    color: #4CAF50;
    font-weight: bold;
    margin-top: 20px;
}

button.btn.active {
    background-color: #FFEB3B;
    color: #333;
    border-color: #FF9800;
}

